.menu__item {
  margin-right: 18px;
  font-size: 24px;
  line-height: 28px;
}

.menu__item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 320px) {
  .menu__item {
    font-size: 18px;
    line-height: 20px;
  }
}
