.intro__text {
  width: 690px;
  color: #FFFFFF;
  border: 1px solid yellow;
  margin-bottom: 33px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63;
}
