.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 984px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid green;

}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    padding: 0 16px;
  }
}
