.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  padding: 0;
  max-width: 1184px;
  max-height: 740px;
  width: 100vw;
  height: 62.5vw;
  box-sizing: border-box;
}

.cover::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: 0.3;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.cover:hover::before {
  opacity: 0.8;
}
