.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  padding: 0;
  max-width: 1184px;
  width: 100vw;
  box-sizing: border-box;
}
