.content__section {
  margin: 0 auto 90px;
}

@media screen and (max-width: 768px) {
  .content__section {
    margin: 0 auto 88px;
  }
}

@media screen and (max-width: 425px) {
  .content__section {
    margin: 0 auto 64px;
  }
}
