.cover__title {
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
  text-align: center;
  margin: 0 0 32px;
  position: relative;
}

@media screen and (max-width: 720px) {
  .cover__title {
    font-size: 52px;
    line-height: 56px;
    padding: 0 33px;
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 16px;
  }
}
